body {
    background: linear-gradient(45deg, wheat, white);
}

form {
    background-color: beige;
    border-radius: 4em 2em;
    padding: 1em;
    width: fit-content;
    box-shadow: 4px 4px 4px; 
}

div {
    box-shadow: 0 0 4px white;
}
.art-input-style {
    display: flex;
    background-color: plum;
    border-radius: 2em 1em;
    gap: 0.5em;
    padding: 1em;
    label {
	width: 5em;
    }
    input {
	width: 5ch;
    }
}

.square {
    width: 100px;
    height: 100px;
    background-color: black;
}

/*
 stop diamond from covering other shapes:
 -compensate length of diagonal
    71^2+ 71^2 = 100
 -add margin to get original width
    100 - 71 = 29 => 29 / 2 = 15 
 */
.diamond {
    width: 71px;
    height: 71px;
    background-color: black;
    transform: rotateZ(45deg);
    margin: 15px;
}

.circle {
    width: 100px;
    height: 100px;
    background-color: black;
    border-radius: 50%;
}

#art-screen {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    border: 2em groove plum;
    /*gap: 1em;*/
    margin: 1em;
    box-shadow: 4px 4px 4px; 
}

#art-submit {
    background-color: plum;
    font-size: 2em;
    padding: 0.5em 1em;
    border: none;
    border-radius: 2em 1em;
    &:hover {
	text-shadow: 0 0 4px white;
	pointer;
	box-shadow: 4px 4px 4px;
	cursor: pointer;
    }
    &:active {
	background-color: beige;
    }
}
