.art-input-style {
    display: flex;
    gap: 1em;
    label: {
	width: 9em;
    }
}

.square {
    width: 100px;
    height: 100px;
    background-color: black;
    margin: 5px;
}

.diamond {
    transform: rotateZ(45deg);
    margin: 45px;
}
